<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'link.html' %}
    {% include 'base.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clienty McClientface</title>
    
</head>
<body>  
    <div class="messages">
              
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        {% endfor %}
        {% endif %}   
    </div>
    <div class="login-container">
        <h1 >Password Reset</h1>
        <br/>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="conformpassword" placeholder="Conform Password" required>
            <input type="hidden" name="user_id" value="{{user_id}}">
            <button type="submit" value="submit">Change</button>
        </form>
             
    </div>
</body>

</html>